# run:
# pip install -r requirements.txt
# See README.txt for full installation instructions

# In case of issues with installing PIL or psycopg2, try this:
# env CFLAGS='-arch x86_64' LDFLAGS='-arch x86_64' pip install PIL psycopg2

## UNDER THE HOOD ##

# Web framework for perfectionists with deadlines
Django==1.4.3

# Database migrations
south==0.7.5

# Postgres databases
psycopg2==2.4.1  # 2.4.2 has compatibility issues with Django 1.3

PIL==1.1.7
#Stuff we use all the time
-e git+https://bitbucket.org/cogat/django-generic.git@eb5f16f1dd2546671b9d0dd58ed20c30224eb1e1#egg=django-generic
django-extensions==0.9

## FRONTEND ##

# CMS Framework
django-mptt==0.4.2

# 2013-01-09: ixc fork has the ensure_completely_loaded(force=True) patch; change back to feincms when pull request accepted.
-e git://github.com/ixc/feincms.git@a51670d8d4420265eebbc3b50ea4f14ac1ae0b5e#egg=feincms
-e git://github.com/ixc/glamkit-feincmstools.git@9e57e5c91f2c35e4629e0f9ade177426a0c5ff28#egg=glamkit-feincmstools
-e git://github.com/ixc/glamkit-adminboost.git@9d74c11#egg=glamkit-adminboost

# WYSIWYM - textile
textile==2.1.5
# head revision of markitup
-e hg+https://bitbucket.org/carljm/django-markitup@0a4001df355a#egg=django-markitup

pytz==2012g

# Oembed
-e git://github.com/ixc/django-oembed.git@2741c81#egg=django-oembed

# Local development tools --------------

# in-browser debugging with runserver_plus
Werkzeug

# Versions to minimise OS X ipython behaviour
-f http://ipython.scipy.org/dist/ readline
ipython==0.10